*{
    margin: 0;padding: 0
}

img{
    width: 128px;
    height: 178.72px;
}

#moviesRow{
    background: #fff;
    margin: 40px auto;
    width: 700px;
    height: auto;
    border: 1px solid #ddd;
}

.movieBox{
    text-align: center;
    margin: 10px 10px;
    width: 150px;
    list-style-type: none;
    display: inline-block;    
    position: relative;
}

.mPost img{
    margin-top: 10px;
    width: 128px;
}

.mTitle{
    text-align: center;
}

.mScore{
    font-size: 14px;
    color: #E9967A;
}

.insertButton{
    width: 700px;
    margin: -20px auto 0 auto;
}

.alertButton{
    width: 700px;
    margin: 10px auto;
}

.deleteButton{
    width: 700px;
    margin: 10px auto;
}

.delMovie{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-weight: bold;
    width: 20px;
    height: 20px;
    line-height: 18px;
    border-radius: 10px;
    color: #fff;
    background: skyblue;
    border: 1px solid skyblue;
    display: none;
}

.delMovie:hover{
    color: red;
    background: #fff;
}