*{
    margin: 0;padding: 0
}

img{
    width: 128px;
    height: 178.72px;
}

#moviesRow{
    background: #fff;
    margin: 40px auto;
    width: 700px;
    height: auto;
    border: 1px solid #ddd;
}

.movieBox{
    text-align: center;
    margin: 10px 10px;
    width: 150px;
    list-style-type: none;
    display: inline-block;    
}

.mPost img{
    margin-top: 10px;
    width: 128px;
}

.mTitle{
    text-align: center;
}

.mScore{
    font-size: 14px;
    color: #E9967A;
}

.insertButton{
    width: 700px;
    margin: -20px auto 0 auto;
}

.alertButton{
    width: 700px;
    margin: 10px auto;
}

.deleteButton{
    width: 700px;
    margin: 10px auto;
}